<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.IBoardDao">
	<insert id="insertBoard" parameterType="board" useGeneratedKeys="true" keyProperty="board_num">
		insert into board values(0, #{id_index}, #{title}, #{content}, sysdate(), 0, #{fileuri}, #{fileid}, #{writer})
	</insert>
	
	<update id="updateBoard" parameterType="board">
		update board set title=#{title} , content=#{content} , readcount=#{readcount}, fileid=#{fileid} where board_num = #{board_num}
	</update>
	
	<delete id="deleteBoard" parameterType="int">
		delete from board where board_num = #{board_num}
	</delete>
	
	<select id="selectOne" parameterType="int" resultType="board">
		select * from board where board_num = #{board_num}
	</select>
	
	<select id="selectAll" resultType="board">
		select * from board
	</select>
	
	<select id="selectBoardLimit" parameterType="java.util.HashMap" resultType="board">
		SELECT * FROM board order by board_num desc limit #{skip}, #{count}
	</select>
	
	<select id="getBoardCount" resultType="int">
		select count(*) from board
	</select>
</mapper>