<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.IMemberDao">
	<insert id="insertMember" parameterType="member" useGeneratedKeys="true" keyProperty="">
		insert into member values(0, #{id}, #{pass}, #{nick})
	</insert>
	
	<update id="updateMember" parameterType="member">
		update member set pass=#{pass}, nick=#{nick} where id_index = #{id_index}
	</update>
	
	<delete id="deleteMember" parameterType="int">
		delete from member where id_index = #{id_index}
	</delete>
	
	<select id="selectOne" parameterType="int" resultType="member">
		select * from member where id_index = #{id_index}
	</select>
	
	<select id="selectAll" resultType="member">
		select * from member
	</select>
	
	<select id="selectIndex" parameterType="String" resultType="int">
		select id_index from member where id = #{id}
	</select>
</mapper>